<%-include("../partials/header")%>

    <!-- form -->
<div class="form-bg">
    <div class="container">
        <form action="/search" method="GET" class="form-inline justify-content-center">
            <input type="text" name="q" autocomplete="off" placeholder="&#xf002; Search for GIFs" class="form-control search-bar">
            <button class="search-btn btn btn-primary">Search</i></button>
            <select name="server" class="select-server form-control">
                <option value="TENOR"  >TENOR Server</option>
                <option value="GIFSY" >GIFSY Server</option>
            </select>
        </form>
    </div>
</div>

<div class="container ">
    <div class="row">
        <div class="col-lg-9 col-md-12 show-tenor-gif">
            <div class="row">
                <div class="col-12">
                    <img src="<%=gif.url%>" alt="" class="img-thumbnail">
                </div>
                <div class="col-12">
                    <p class="tenor-gif-details"><strong>Share URL</strong></p>
                    <div class="share-url"><%=gif.url%></div>
                    <p class="tenor-gif-details"><strong>Details</strong></p>
                    <div>
                        <p class="">Created At : <em id="date"><%=gif.created%></em></p>
                        <p class="">Dimensions : <%=gif.dims.replace(","," * ")%> (in pixels)</p>
                    </div>
                </div>
            </div>  
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 ">
            <div class="row gif-container">
                <div class="col-lg-12">
                    <h4 class="coloumn">Related GIFs</h4>
                </div>
                <!-- <div class="col-lg-12 col-md-6">
                    <img src="/img/tenor.gif" alt="" class="coloumn">
                </div>
                <div class="col-lg-12 col-md-6">
                    <img src="/img/tenor.gif" alt="" class="coloumn">
                </div>
                <div class="col-lg-12 col-md-6">
                    <img src="/img/tenor.gif" alt="" class="coloumn">
                </div>
                <div class="col-lg-12 col-md-6">
                    <img src="/img/tenor.gif" alt="" class="coloumn">
                </div>
                <div class="col-lg-12 col-md-6">
                    <img src="/img/tenor.gif" alt="" class="coloumn"> -->
                </div>
            </div>
        </div>
    </div>
</div>
    


    <!-- script -->
    <script>
        const unix_time = "<%=gif.created%>";
        let search = "<%=gif.search%>";
        if(!search)search="excited";
    </script>
    <script src="/js/show-tenor.js"></script>
<%-include("../partials/footer")%>